*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #eee;
  justify-content: center;
  align-items: center;
}
.container{
  width: 20rem;
  height: 6rem;
  text-align: center;
  padding-top: .3rem;
  border-radius: 2rem;
  background-color: #fff;
}
.stars-grp button{
  background-color: unset;
  border: none;
  outline: none;
  font-size: 2.3rem;
  color: rgb(255, 200, 0);
}
p{
  margin-top: .4rem;
  text-align: center;
  font-size: 1.2rem;
}